
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.loading span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
    animation: loading 1s linear infinite;
    margin: 8px;
}

.loading span:nth-child(1) {
    animation-delay: 0s;
    background-color: crimson;
}

.loading span:nth-child(2) {
    animation-delay: 0.2s;
    background-color: dodgerblue;
}

.loading span:nth-child(3) {
    animation-delay: 0.4s;
    background-color: yellowgreen;
}

.title {
    font-size: 60px;
    text-align: center;
}

.title span {
    color: #fff;
}

.movies {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    text-align: center;
}

@keyframes loading {

    0%,
    100% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }
}